<!-- dashboard -->
<div class="allcontent">
  <div class="mainD">
    <div class="header">
      <h2 style="padding: 20px;">
        User detail
        <br>
        <p style="background-color: rgb(247, 240, 233)">
          {{name | uppercase}}
        </p>
      </h2>
    </div>
    <div class="img" align="center">
      <img class="image" src="./../../assets/user1.jpeg" alt="user image">
    </div>
    <div class="detail">
      <table>
        <tr>
          <td>
            Name:-
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>
            Username:-
          </td>
          <td>
            {{username}}
          </td>
        </tr>
        <tr>
          <td>
            E-mail Id:-
          </td>
          <td>
            {{email}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>